body {
   margin: 0 auto;
   height: 100vh;
   background-color: black;
}

#boardgame {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 180px);
    grid-auto-rows: 180px;
}

#boardgame > button {
    padding: 10px;
    border: 2px solid red;
    border-radius: 4px;
}

.grid-item {
    background-color: white;
    font-size: 25px;
}

.grid-item { 
    cursor: pointer;
}

#header {
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 3px 3px 20px red,
    -2px 1px 30px red;
}

.game-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

#turn {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: white;
    font-family: 'Noto Sans Mono', monospace;
}

#reset {
    margin-top: 1rem;
    width: 200px;
    font-family: 'Noto Sans Mono', monospace;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: red;
    border: 2px solid red;
    background-color: black;
    box-shadow: inset 0 0 0 0 red;
    transition: ease-out 0.3s;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Noto Sans Mono', monospace;
    cursor: pointer;

}

#reset:hover {
    box-shadow: inset 200px 0 0 0 white;
    color: red;
}

.btn {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Mono', monospace;
}

#start {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: red;
    box-shadow: inset 0 0 0 0 red;
    transition: ease-out 0.3s;
    font-family: 'Noto Sans Mono', monospace;
    cursor: pointer;
}

#start:hover {
    box-shadow: inset 150px 0 0 0 red;
    color: white;
}